@charset "UTF-8";
/* web font */
@font-face {
    font-family: "Spoqa-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Regular.woff2") format("woff2"), url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Regular.woff") format("woff");
}

@font-face {
    font-family: "Spoqa-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Medium.woff2") format("woff2"), url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Medium.woff") format("woff");
}

@font-face {
    font-family: "Spoqa-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Bold.woff2") format("woff2"), url("https://sui.ssgcdn.com/ui/common/font/spoqa/Spoqa-Bold.woff") format("woff");
}

@font-face {
    font-family: "NanumMyeongjo";
    font-style: normal;
    font-weight: normal;
    src: url("https://sui.ssgcdn.com/ui/common/font/NanumMyeongjo-Bold.eot");
    src: local(※), url("https://sui.ssgcdn.com/ui/common/font/NanumMyeongjo-Bold.woff") format("woff"), url("https://sui.ssgcdn.com/ui/common/font/NanumMyeongjo-Bold.ttf") format("truetype");
}

/* Pretendard */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("https://sui.ssgcdn.com/ui/common/font/pretendard/Pretendard-Regular.woff2?subset") format("woff2");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url("https://sui.ssgcdn.com/ui/common/font/pretendard/Pretendard-Medium.woff2?subset") format("woff2");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("https://sui.ssgcdn.com/ui/common/font/pretendard/Pretendard-SemiBold.woff2?subset") format("woff2");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("https://sui.ssgcdn.com/ui/common/font/pretendard/Pretendard-Bold.woff2?subset") format("woff2");
}

/* PlayfairDisplay */
@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 400;
    src: url("https://sui.ssgcdn.com/ui/common/font/playfairdisplay/PlayfairDisplay-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 500;
    src: url("https://sui.ssgcdn.com/ui/common/font/playfairdisplay/PlayfairDisplay-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 600;
    src: url("https://sui.ssgcdn.com/ui/common/font/playfairdisplay/PlayfairDisplay-SemiBold.woff2") format("woff2");
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, form, label, legend, input, button, textarea, select {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    line-height: 1.5em;
    font-size: 0.75em;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr {
    border: 0 none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}

blockquote, q {
    quotes: "none";
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

img {
    vertical-align: middle;
    border: 0;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

em {
    font-style: normal;
}

a {
    text-decoration: none !important;
}

a:hover,
a:link,
a:visited,
a:link {
    color: black;
}

wbr {
    display: block \9;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

wbr:after {
    content: "​";
}

ul li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

hr {
    display: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

input.ie_placeholder {
    color: #ababab !important;
}

input.ie_placeholder:-ms-input-placeholder {
    color: #ababab;
}

input.placeholder {
    color: #ababab !important;
}

input.checkbox, input.radio {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

#wrap {
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    *zoom: 1;
    position: relative;
}

#container {
    position: relative;
    width: 1020px;
    margin: 0 auto;
    min-height: 300px;
}

#container:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: "";
}


.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    line-height: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    clip: rect(0, 0, 0, 0);
}

.blind:before {
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    content: " ";
}

caption.blind {
    position: static;
    margin: -1px 0 0;
    *height: 0;
}

caption.blind:before {
    display: none;
}

caption .blind {
    position: static;
}

caption .blind:before {
    display: none;
}


.ssg_logo_link {
    width: 102px;
    height: 20px;
    background: url(/resource/img/ssg.svg) no-repeat;
    background-size: contain;
}

.sm {
    width: 132px;
    height: 11px;
    background-image: url(/resource/img/sm.svg);
}

.ssg_mall_wrap {
    background-color: #f12e24;
}

.sd {
    width: 138px;
    height: 11px;
    background-image: url(/resource/img/sd.svg);
}

.em {
    width: 80px;
    height: 19px;
    background-image: url(/resource/img/em_logo.png);
}


.gnb_searching_box {
    overflow: hidden;
    position: relative;
    z-index: 301;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px 0 0 1px;
    border-radius: 6px;
    background-color: #fff;
}

.gnb_searching_box form,
.gnb_searching_box fieldset {
    height: 100%;
}

.gnb_searching_box .inp_txt {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 12px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: -0.3px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

.gnb_searching_box .inp_txt::-ms-clear {
    display: none;
}

.gnb_searching_box .inp_txt:focus {
    outline: none;
}

.gnb_searching_box .gnb_searching_inp {
    height: 100%;
}

.gnb_searching_box .gnb_searching_inp .inp_txt::-webkit-input-placeholder {
    color: #777;
    font-size: 13px;
}

.gnb_searching_box .gnb_searching_inp .inp_txt::-moz-placeholder {
    color: #777;
    font-size: 13px;
}

.gnb_searching_box .gnb_searching_inp .inp_txt:-ms-input-placeholder {
    color: #777;
    font-size: 13px;
}

.gnb_searching_box .gnb_searching_inp .inp_txt::-ms-input-placeholder {
    color: #777;
    font-size: 13px;
}

.gnb_searching_box .gnb_searching_inp .inp_txt::placeholder {
    color: #777;
    font-size: 13px;
}

.gnb_searching_box .gnb_search_btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    width: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}

.gnb_searching_box .gnb_search_btn .icon_search::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60004 10.8C3.60004 14.76 6.84004 18 10.8 18C14.76 18 18 14.76 18 10.8C18 6.84001 14.76 3.60001 10.8 3.60001C6.84004 3.60001 3.60004 6.84001 3.60004 10.8ZM4.80007 10.8C4.80007 7.44001 7.44007 4.80001 10.8001 4.80001C14.1601 4.80001 16.8001 7.44001 16.8001 10.8C16.8001 14.16 14.1601 16.8 10.8001 16.8C7.44007 16.8 4.80007 14.16 4.80007 10.8Z' fill='rgb%280%2C0%2C0%29'%3e%3c/path%3e %3cpath d='M15.0187 15.8562L15.8672 15.0077L21.3826 20.5231L20.5341 21.3716L15.0187 15.8562Z' fill='rgb%280%2C0%2C0%29'%3e%3c/path%3e %3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20px;
    height: 20px;
}


.gnb_search_wrap:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    padding: 1px;
    border-radius: 6px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='fh8cypk2ya' x1='5.138%25' x2='99.194%25' y1='50.219%25' y2='49.719%25'%3E%3Cstop offset='0%25' stop-color='%23FECC1F'/%3E%3Cstop offset='33.288%25' stop-color='%23FE3A6B'/%3E%3Cstop offset='55.717%25' stop-color='%23A33FFA'/%3E%3Cstop offset='77.639%25' stop-color='%233798FB'/%3E%3Cstop offset='100%25' stop-color='%2326D866'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23fh8cypk2ya)' x='0' y='0' width='1' height='1'/%3E%3C/svg%3E");
    background: -webkit-gradient(linear, right top, left top, from(#be3ffa), color-stop(40.65%, #f43479), color-stop(58.41%, #f43479), to(#ff5452));
    background: linear-gradient(270deg, #be3ffa 0%, #f43479 40.65%, #f43479 58.41%, #ff5452 100%);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background-size: 300%, 300%;
    background-size: contain \9;
    -webkit-animation: animatedgradient 5s ease alternate infinite;
    animation: animatedgradient 5s ease alternate infinite;
    content: "";
}

.gnb_search_wrap {
    display: inline-block;
    position: relative;
    width: 403px;
    height: 100%;
}


.ctg_all {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    background-color: #0b9b5b;
    width: 200px;
    height: 43px;
}

.ctg_open {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: 100%;
    padding-left: 12px;
}

.ctg_open:focus:not(:focus-visible) {
    outline: 0;
}

.ctg_open .ctg_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.ctg_open .ctg_menu .ico_menu {
    position: relative;
    display: block;
    width: 16px;
    height: 2px;
    margin: 0 auto;
    border-radius: 1px;
    background-color: #fff;
}

.ctg_open .ctg_menu .ico_menu::before, .ctg_open .ctg_menu .ico_menu::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.ctg_open .ctg_menu .ico_menu::before {
    top: -5px;
}

.ctg_open .ctg_menu .ico_menu::after {
    bottom: -5px;
}

.ctg_open .ctg_label {
    padding: 1px 11px 0 6px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}


.ctg_topmn.on .sub_lv2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ctg {
    border-top: 1px;
    width: 100%;
    height: 44px;
    background-color: #ffcf02;
    border-color: rgba(255, 234, 60, 0.6) !important;
}

.ctg_inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.ctg_item_list {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.ctg_item {
    height: 43px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    justify-content: start;
}

.ctg_item:hover {
    font-weight: bold;
}

.location_login {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.em_location {
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(255, 234, 60, 0.6);
}

.location-dot {
    margin: 2px 0px 0px 5px !important;
    width: 21.06px;
    height: 24px;
}

.ty_tr:before {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -4px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9 4.84V17.34C15.9 17.81 15.52 18.18 15.06 18.18H8.96C8.49 18.18 8.12 17.81 8.12 17.34C8.12 16.87 8.49 16.5 8.96 16.5H14.22V5.68H3.68V16.5H5.23C5.69 16.5 6.07 16.88 6.07 17.34C6.07 17.8 5.69 18.18 5.23 18.18H2.84C2.38 18.18 2 17.81 2 17.34V4.84C2 4.38 2.38 4 2.84 4H15.06C15.52 4 15.9 4.38 15.9 4.84Z' fill='%23262B2E'/%3E%3Cpath d='M22.5397 13.3401V17.3401C22.5397 17.8101 22.1697 18.1801 21.6997 18.1801H18.8297C18.3597 18.1801 17.9897 17.8101 17.9897 17.3401C17.9897 16.8701 18.3597 16.5001 18.8297 16.5001H20.8597V13.7501L19.2897 12.5301L19.0597 12.3501C18.8497 12.1901 18.7297 11.9501 18.7297 11.6901V9.19006C18.7297 8.39006 18.0797 7.74006 17.2797 7.74006H15.8997V17.3401C15.8997 17.8101 15.5197 18.1801 15.0597 18.1801C14.6897 18.1801 14.3697 17.9501 14.2697 17.6101C14.2397 17.5301 14.2197 17.4401 14.2197 17.3401V6.90006C14.2197 6.43006 14.5897 6.06006 15.0597 6.06006H17.2797C19.0097 6.06006 20.4097 7.46006 20.4097 9.19006V11.2701L22.2197 12.6701C22.4197 12.8301 22.5397 13.0801 22.5397 13.3401Z' fill='%23262B2E'/%3E%3Cpath d='M18.7299 9.18999V10.85H15.8999V7.73999H17.2799C18.0799 7.73999 18.7299 8.38999 18.7299 9.18999Z' fill='white'/%3E%3Cpath d='M20.4098 11.69C20.4098 12.15 20.0398 12.53 19.5698 12.53H15.3498C14.8898 12.53 14.5098 12.15 14.5098 11.69C14.5098 11.23 14.8898 10.85 15.3498 10.85H19.5698C20.0398 10.85 20.4098 11.22 20.4098 11.69Z' fill='%23262B2E'/%3E%3Cpath d='M9.67014 16.5C9.31014 15.42 8.29014 14.64 7.09014 14.64C5.89014 14.64 4.88014 15.42 4.52014 16.5C4.44014 16.76 4.39014 17.05 4.39014 17.34C4.39014 17.63 4.44014 17.92 4.52014 18.18C4.88014 19.26 5.89014 20.05 7.09014 20.05C8.29014 20.05 9.31014 19.26 9.67014 18.18C9.75014 17.92 9.80014 17.63 9.80014 17.34C9.80014 17.05 9.75014 16.76 9.67014 16.5ZM7.09014 18.37C6.53014 18.37 6.07014 17.91 6.07014 17.34C6.07014 16.77 6.53014 16.32 7.09014 16.32C7.65014 16.32 8.12014 16.78 8.12014 17.34C8.12014 17.9 7.66014 18.37 7.09014 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M8.11982 17.3399C8.11982 17.9099 7.65982 18.3699 7.08982 18.3699C6.51982 18.3699 6.06982 17.9099 6.06982 17.3399C6.06982 16.7699 6.52982 16.3199 7.08982 16.3199C7.64982 16.3199 8.11982 16.7799 8.11982 17.3399Z' fill='white'/%3E%3Cpath d='M14.2202 5.68005V16.5001H9.67018C9.31018 15.4201 8.29018 14.6401 7.09018 14.6401C5.89018 14.6401 4.88018 15.4201 4.52018 16.5001H3.68018V5.68005H14.2202Z' fill='%23a6dd27'/%3E%3Cpath d='M19.5398 16.5C19.1798 15.42 18.1598 14.64 16.9598 14.64C16.5898 14.64 16.2298 14.72 15.8998 14.85C14.9398 15.27 14.2598 16.23 14.2598 17.34C14.2598 17.43 14.2598 17.52 14.2598 17.61C14.2798 17.81 14.3198 18 14.3798 18.18C14.7398 19.26 15.7498 20.05 16.9498 20.05C18.1498 20.05 19.1698 19.26 19.5298 18.18C19.6098 17.92 19.6598 17.63 19.6598 17.34C19.6598 17.05 19.6098 16.76 19.5298 16.5H19.5398ZM16.9598 18.37C16.3998 18.37 15.9398 17.91 15.9398 17.34C15.9398 16.77 16.3998 16.32 16.9598 16.32C17.5198 16.32 17.9898 16.78 17.9898 17.34C17.9898 17.9 17.5298 18.37 16.9598 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M17.9899 17.3399C17.9899 17.9099 17.5299 18.3699 16.9599 18.3699C16.3899 18.3699 15.9399 17.9099 15.9399 17.3399C15.9399 16.7699 16.3999 16.3199 16.9599 16.3199C17.5199 16.3199 17.9899 16.7799 17.9899 17.3399Z' fill='white'/%3E%3Cpath d='M20.8599 13.75V16.5H19.5399C19.1799 15.42 18.1599 14.64 16.9599 14.64C16.5899 14.64 16.2299 14.72 15.8999 14.85V12.53H19.2899L20.8599 13.75Z' fill='white'/%3E%3C/svg%3E");
}

.ty_mnmorning:before {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -4px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9 4.84V17.34C15.9 17.81 15.52 18.18 15.06 18.18H8.96C8.49 18.18 8.12 17.81 8.12 17.34C8.12 16.87 8.49 16.5 8.96 16.5H14.22V5.68H3.68V16.5H5.23C5.69 16.5 6.07 16.88 6.07 17.34C6.07 17.8 5.69 18.18 5.23 18.18H2.84C2.38 18.18 2 17.81 2 17.34V4.84C2 4.38 2.38 4 2.84 4H15.06C15.52 4 15.9 4.38 15.9 4.84Z' fill='%23262B2E'/%3E%3Cpath d='M22.5397 13.3401V17.3401C22.5397 17.8101 22.1697 18.1801 21.6997 18.1801H18.8297C18.3597 18.1801 17.9897 17.8101 17.9897 17.3401C17.9897 16.8701 18.3597 16.5001 18.8297 16.5001H20.8597V13.7501L19.2897 12.5301L19.0597 12.3501C18.8497 12.1901 18.7297 11.9501 18.7297 11.6901V9.19006C18.7297 8.39006 18.0797 7.74006 17.2797 7.74006H15.8997V17.3401C15.8997 17.8101 15.5197 18.1801 15.0597 18.1801C14.6897 18.1801 14.3697 17.9501 14.2697 17.6101C14.2397 17.5301 14.2197 17.4401 14.2197 17.3401V6.90006C14.2197 6.43006 14.5897 6.06006 15.0597 6.06006H17.2797C19.0097 6.06006 20.4097 7.46006 20.4097 9.19006V11.2701L22.2197 12.6701C22.4197 12.8301 22.5397 13.0801 22.5397 13.3401Z' fill='%23262B2E'/%3E%3Cpath d='M18.7299 9.18999V10.85H15.8999V7.73999H17.2799C18.0799 7.73999 18.7299 8.38999 18.7299 9.18999Z' fill='white'/%3E%3Cpath d='M20.4098 11.69C20.4098 12.15 20.0398 12.53 19.5698 12.53H15.3498C14.8898 12.53 14.5098 12.15 14.5098 11.69C14.5098 11.23 14.8898 10.85 15.3498 10.85H19.5698C20.0398 10.85 20.4098 11.22 20.4098 11.69Z' fill='%23262B2E'/%3E%3Cpath d='M9.67014 16.5C9.31014 15.42 8.29014 14.64 7.09014 14.64C5.89014 14.64 4.88014 15.42 4.52014 16.5C4.44014 16.76 4.39014 17.05 4.39014 17.34C4.39014 17.63 4.44014 17.92 4.52014 18.18C4.88014 19.26 5.89014 20.05 7.09014 20.05C8.29014 20.05 9.31014 19.26 9.67014 18.18C9.75014 17.92 9.80014 17.63 9.80014 17.34C9.80014 17.05 9.75014 16.76 9.67014 16.5ZM7.09014 18.37C6.53014 18.37 6.07014 17.91 6.07014 17.34C6.07014 16.77 6.53014 16.32 7.09014 16.32C7.65014 16.32 8.12014 16.78 8.12014 17.34C8.12014 17.9 7.66014 18.37 7.09014 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M8.11982 17.3399C8.11982 17.9099 7.65982 18.3699 7.08982 18.3699C6.51982 18.3699 6.06982 17.9099 6.06982 17.3399C6.06982 16.7699 6.52982 16.3199 7.08982 16.3199C7.64982 16.3199 8.11982 16.7799 8.11982 17.3399Z' fill='white'/%3E%3Cpath d='M14.2202 5.68005V16.5001H9.67018C9.31018 15.4201 8.29018 14.6401 7.09018 14.6401C5.89018 14.6401 4.88018 15.4201 4.52018 16.5001H3.68018V5.68005H14.2202Z' fill='%23a3b7cd'/%3E%3Cpath d='M19.5398 16.5C19.1798 15.42 18.1598 14.64 16.9598 14.64C16.5898 14.64 16.2298 14.72 15.8998 14.85C14.9398 15.27 14.2598 16.23 14.2598 17.34C14.2598 17.43 14.2598 17.52 14.2598 17.61C14.2798 17.81 14.3198 18 14.3798 18.18C14.7398 19.26 15.7498 20.05 16.9498 20.05C18.1498 20.05 19.1698 19.26 19.5298 18.18C19.6098 17.92 19.6598 17.63 19.6598 17.34C19.6598 17.05 19.6098 16.76 19.5298 16.5H19.5398ZM16.9598 18.37C16.3998 18.37 15.9398 17.91 15.9398 17.34C15.9398 16.77 16.3998 16.32 16.9598 16.32C17.5198 16.32 17.9898 16.78 17.9898 17.34C17.9898 17.9 17.5298 18.37 16.9598 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M17.9899 17.3399C17.9899 17.9099 17.5299 18.3699 16.9599 18.3699C16.3899 18.3699 15.9399 17.9099 15.9399 17.3399C15.9399 16.7699 16.3999 16.3199 16.9599 16.3199C17.5199 16.3199 17.9899 16.7799 17.9899 17.3399Z' fill='white'/%3E%3Cpath d='M20.8599 13.75V16.5H19.5399C19.1799 15.42 18.1599 14.64 16.9599 14.64C16.5899 14.64 16.2299 14.72 15.8999 14.85V12.53H19.2899L20.8599 13.75Z' fill='white'/%3E%3C/svg%3E");
}

.ty_oneday:before {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -4px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9 4.84V17.34C15.9 17.81 15.52 18.18 15.06 18.18H8.96C8.49 18.18 8.12 17.81 8.12 17.34C8.12 16.87 8.49 16.5 8.96 16.5H14.22V5.68H3.68V16.5H5.23C5.69 16.5 6.07 16.88 6.07 17.34C6.07 17.8 5.69 18.18 5.23 18.18H2.84C2.38 18.18 2 17.81 2 17.34V4.84C2 4.38 2.38 4 2.84 4H15.06C15.52 4 15.9 4.38 15.9 4.84Z' fill='%23262B2E'/%3E%3Cpath d='M22.5397 13.3401V17.3401C22.5397 17.8101 22.1697 18.1801 21.6997 18.1801H18.8297C18.3597 18.1801 17.9897 17.8101 17.9897 17.3401C17.9897 16.8701 18.3597 16.5001 18.8297 16.5001H20.8597V13.7501L19.2897 12.5301L19.0597 12.3501C18.8497 12.1901 18.7297 11.9501 18.7297 11.6901V9.19006C18.7297 8.39006 18.0797 7.74006 17.2797 7.74006H15.8997V17.3401C15.8997 17.8101 15.5197 18.1801 15.0597 18.1801C14.6897 18.1801 14.3697 17.9501 14.2697 17.6101C14.2397 17.5301 14.2197 17.4401 14.2197 17.3401V6.90006C14.2197 6.43006 14.5897 6.06006 15.0597 6.06006H17.2797C19.0097 6.06006 20.4097 7.46006 20.4097 9.19006V11.2701L22.2197 12.6701C22.4197 12.8301 22.5397 13.0801 22.5397 13.3401Z' fill='%23262B2E'/%3E%3Cpath d='M18.7299 9.18999V10.85H15.8999V7.73999H17.2799C18.0799 7.73999 18.7299 8.38999 18.7299 9.18999Z' fill='white'/%3E%3Cpath d='M20.4098 11.69C20.4098 12.15 20.0398 12.53 19.5698 12.53H15.3498C14.8898 12.53 14.5098 12.15 14.5098 11.69C14.5098 11.23 14.8898 10.85 15.3498 10.85H19.5698C20.0398 10.85 20.4098 11.22 20.4098 11.69Z' fill='%23262B2E'/%3E%3Cpath d='M9.67014 16.5C9.31014 15.42 8.29014 14.64 7.09014 14.64C5.89014 14.64 4.88014 15.42 4.52014 16.5C4.44014 16.76 4.39014 17.05 4.39014 17.34C4.39014 17.63 4.44014 17.92 4.52014 18.18C4.88014 19.26 5.89014 20.05 7.09014 20.05C8.29014 20.05 9.31014 19.26 9.67014 18.18C9.75014 17.92 9.80014 17.63 9.80014 17.34C9.80014 17.05 9.75014 16.76 9.67014 16.5ZM7.09014 18.37C6.53014 18.37 6.07014 17.91 6.07014 17.34C6.07014 16.77 6.53014 16.32 7.09014 16.32C7.65014 16.32 8.12014 16.78 8.12014 17.34C8.12014 17.9 7.66014 18.37 7.09014 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M8.11982 17.3399C8.11982 17.9099 7.65982 18.3699 7.08982 18.3699C6.51982 18.3699 6.06982 17.9099 6.06982 17.3399C6.06982 16.7699 6.52982 16.3199 7.08982 16.3199C7.64982 16.3199 8.11982 16.7799 8.11982 17.3399Z' fill='white'/%3E%3Cpath d='M14.2202 5.68005V16.5001H9.67018C9.31018 15.4201 8.29018 14.6401 7.09018 14.6401C5.89018 14.6401 4.88018 15.4201 4.52018 16.5001H3.68018V5.68005H14.2202Z' fill='%23dcaa78'/%3E%3Cpath d='M19.5398 16.5C19.1798 15.42 18.1598 14.64 16.9598 14.64C16.5898 14.64 16.2298 14.72 15.8998 14.85C14.9398 15.27 14.2598 16.23 14.2598 17.34C14.2598 17.43 14.2598 17.52 14.2598 17.61C14.2798 17.81 14.3198 18 14.3798 18.18C14.7398 19.26 15.7498 20.05 16.9498 20.05C18.1498 20.05 19.1698 19.26 19.5298 18.18C19.6098 17.92 19.6598 17.63 19.6598 17.34C19.6598 17.05 19.6098 16.76 19.5298 16.5H19.5398ZM16.9598 18.37C16.3998 18.37 15.9398 17.91 15.9398 17.34C15.9398 16.77 16.3998 16.32 16.9598 16.32C17.5198 16.32 17.9898 16.78 17.9898 17.34C17.9898 17.9 17.5298 18.37 16.9598 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M17.9899 17.3399C17.9899 17.9099 17.5299 18.3699 16.9599 18.3699C16.3899 18.3699 15.9399 17.9099 15.9399 17.3399C15.9399 16.7699 16.3999 16.3199 16.9599 16.3199C17.5199 16.3199 17.9899 16.7799 17.9899 17.3399Z' fill='white'/%3E%3Cpath d='M20.8599 13.75V16.5H19.5399C19.1799 15.42 18.1599 14.64 16.9599 14.64C16.5899 14.64 16.2299 14.72 15.8999 14.85V12.53H19.2899L20.8599 13.75Z' fill='white'/%3E%3C/svg%3E");
}

.menu_link:before {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -4px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9 4.84V17.34C15.9 17.81 15.52 18.18 15.06 18.18H8.96C8.49 18.18 8.12 17.81 8.12 17.34C8.12 16.87 8.49 16.5 8.96 16.5H14.22V5.68H3.68V16.5H5.23C5.69 16.5 6.07 16.88 6.07 17.34C6.07 17.8 5.69 18.18 5.23 18.18H2.84C2.38 18.18 2 17.81 2 17.34V4.84C2 4.38 2.38 4 2.84 4H15.06C15.52 4 15.9 4.38 15.9 4.84Z' fill='%23262B2E'/%3E%3Cpath d='M22.5397 13.3401V17.3401C22.5397 17.8101 22.1697 18.1801 21.6997 18.1801H18.8297C18.3597 18.1801 17.9897 17.8101 17.9897 17.3401C17.9897 16.8701 18.3597 16.5001 18.8297 16.5001H20.8597V13.7501L19.2897 12.5301L19.0597 12.3501C18.8497 12.1901 18.7297 11.9501 18.7297 11.6901V9.19006C18.7297 8.39006 18.0797 7.74006 17.2797 7.74006H15.8997V17.3401C15.8997 17.8101 15.5197 18.1801 15.0597 18.1801C14.6897 18.1801 14.3697 17.9501 14.2697 17.6101C14.2397 17.5301 14.2197 17.4401 14.2197 17.3401V6.90006C14.2197 6.43006 14.5897 6.06006 15.0597 6.06006H17.2797C19.0097 6.06006 20.4097 7.46006 20.4097 9.19006V11.2701L22.2197 12.6701C22.4197 12.8301 22.5397 13.0801 22.5397 13.3401Z' fill='%23262B2E'/%3E%3Cpath d='M18.7299 9.18999V10.85H15.8999V7.73999H17.2799C18.0799 7.73999 18.7299 8.38999 18.7299 9.18999Z' fill='white'/%3E%3Cpath d='M20.4098 11.69C20.4098 12.15 20.0398 12.53 19.5698 12.53H15.3498C14.8898 12.53 14.5098 12.15 14.5098 11.69C14.5098 11.23 14.8898 10.85 15.3498 10.85H19.5698C20.0398 10.85 20.4098 11.22 20.4098 11.69Z' fill='%23262B2E'/%3E%3Cpath d='M9.67014 16.5C9.31014 15.42 8.29014 14.64 7.09014 14.64C5.89014 14.64 4.88014 15.42 4.52014 16.5C4.44014 16.76 4.39014 17.05 4.39014 17.34C4.39014 17.63 4.44014 17.92 4.52014 18.18C4.88014 19.26 5.89014 20.05 7.09014 20.05C8.29014 20.05 9.31014 19.26 9.67014 18.18C9.75014 17.92 9.80014 17.63 9.80014 17.34C9.80014 17.05 9.75014 16.76 9.67014 16.5ZM7.09014 18.37C6.53014 18.37 6.07014 17.91 6.07014 17.34C6.07014 16.77 6.53014 16.32 7.09014 16.32C7.65014 16.32 8.12014 16.78 8.12014 17.34C8.12014 17.9 7.66014 18.37 7.09014 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M8.11982 17.3399C8.11982 17.9099 7.65982 18.3699 7.08982 18.3699C6.51982 18.3699 6.06982 17.9099 6.06982 17.3399C6.06982 16.7699 6.52982 16.3199 7.08982 16.3199C7.64982 16.3199 8.11982 16.7799 8.11982 17.3399Z' fill='white'/%3E%3Cpath d='M14.2202 5.68005V16.5001H9.67018C9.31018 15.4201 8.29018 14.6401 7.09018 14.6401C5.89018 14.6401 4.88018 15.4201 4.52018 16.5001H3.68018V5.68005H14.2202Z' fill='%23ffcf02'/%3E%3Cpath d='M19.5398 16.5C19.1798 15.42 18.1598 14.64 16.9598 14.64C16.5898 14.64 16.2298 14.72 15.8998 14.85C14.9398 15.27 14.2598 16.23 14.2598 17.34C14.2598 17.43 14.2598 17.52 14.2598 17.61C14.2798 17.81 14.3198 18 14.3798 18.18C14.7398 19.26 15.7498 20.05 16.9498 20.05C18.1498 20.05 19.1698 19.26 19.5298 18.18C19.6098 17.92 19.6598 17.63 19.6598 17.34C19.6598 17.05 19.6098 16.76 19.5298 16.5H19.5398ZM16.9598 18.37C16.3998 18.37 15.9398 17.91 15.9398 17.34C15.9398 16.77 16.3998 16.32 16.9598 16.32C17.5198 16.32 17.9898 16.78 17.9898 17.34C17.9898 17.9 17.5298 18.37 16.9598 18.37Z' fill='%23262B2E'/%3E%3Cpath d='M17.9899 17.3399C17.9899 17.9099 17.5299 18.3699 16.9599 18.3699C16.3899 18.3699 15.9399 17.9099 15.9399 17.3399C15.9399 16.7699 16.3999 16.3199 16.9599 16.3199C17.5199 16.3199 17.9899 16.7799 17.9899 17.3399Z' fill='white'/%3E%3Cpath d='M20.8599 13.75V16.5H19.5399C19.1799 15.42 18.1599 14.64 16.9599 14.64C16.5899 14.64 16.2299 14.72 15.8999 14.85V12.53H19.2899L20.8599 13.75Z' fill='white'/%3E%3C/svg%3E");
}

.px-20 {
    padding: 0px 19px;
    margin: 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    justify-content: start;
}

.ctg_inner:after {
    display: block;
    content: '';
    clear: both;
}

.ctg_inner > .ctg_all {
    position: relative;
    float: left;
    margin-right: 5px;
}

.ctg_all:hover .ctg_depth {
    display: block;
}

.ctg_all ul {
    border-radius: 0 0 8px 8px;
}

.ctg_all .ctg_depth {
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    text-align: center;
}

.ctg_all .ctg_depth span {
    display: block;
    padding: 10px 15px;
    background: #0b9b5b;
    color: #fff;
    text-align: left;
    font-weight: lighter;
    font-size: 12px;
}

.ctg_all .ctg_depth a {
    display: block;
    padding: 10px 15px;
    background: #0b9b5b;
    color: #fff;
    text-align: left;
    font-weight: lighter;
    font-size: 12px;
    height: 36px !important;
}

.ctg_all .ctg_depth a:hover {
    display: block;
    padding: 10px 15px;
    background: #fff;
    color: #0b9b5b;
    font-weight: bold;
    text-align: left;
    padding-left: 15px !important;
}

.ctg_all ul::-webkit-scrollbar {
    width: 10px;
    background: #0b9b5b;
    border-radius: 0 0 8px 0;
}

.ctg_all ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
    background-color: #3EB882;
}

.owl-style-button, .owl-next, .owl-prev{
    background: #eeeeee;
    border: 3px black !important;
    border-radius: 6px;
    width: 28px !important;
    height: 28px !important;
    vertical-align: center;
}

.owl-next span,
.owl-prev span{
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
}
