
.ssg_gnb_main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    padding: 52px 0 20px;
}
.ssg_gnb_main .ssg_gnb_logo .ssg_logo_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ssg_gnb_main .ssg_gnb_logo .ssg_logo_slogan {
    position: absolute;
    top: -16px;
    left: 5px;
    font-size: 12px;
    color: #222;
    letter-spacing: -0.3px;
    font-weight: bold;
}
.ssg_gnb_main .ssg_gnb_logo .logo_ssg_com {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    background-image: url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' width='158' height='28' viewBox='0 0 158 28'%3e %3cg fill='none' fill-rule='evenodd'%3e %3cpath fill='%23000' d='M57.668 1.5c4.387 0 7.033 1.174 9.575 3.315l-3.377 4.04c-1.88-1.554-3.552-2.452-6.373-2.452-3.9 0-6.998 3.419-6.998 7.528V14c0 4.42 3.064 7.666 7.381 7.666 1.95 0 3.692-.484 5.05-1.45v-3.454h-5.397V12.17h10.584v10.497c-2.507 2.107-5.954 3.833-10.41 3.833-7.59 0-12.813-5.283-12.813-12.431v-.07C44.89 7.13 50.286 1.5 57.668 1.5zm34.736 0c4.597 0 7.347 1.519 9.61 3.73L98.602 9.13c-1.88-1.692-3.795-2.728-6.233-2.728-4.108 0-7.068 3.384-7.068 7.528V14c0 4.143 2.89 7.596 7.068 7.596 2.786 0 4.492-1.104 6.407-2.83l3.412 3.418c-2.507 2.659-5.292 4.316-9.993 4.316-7.173 0-12.5-5.49-12.5-12.431v-.07c0-6.87 5.223-12.499 12.71-12.499zm23.71 0c7.521 0 12.918 5.56 12.918 12.43V14c0 6.872-5.466 12.5-12.987 12.5-7.52 0-12.918-5.56-12.918-12.431v-.07c0-6.87 5.467-12.499 12.987-12.499zm-104.608.068c3.551 0 6.58 1.106 9.052 3.074l-2.785 4.006c-2.159-1.485-4.283-2.383-6.337-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.045 2.106 5.258 3.177 4.944 1.277 7.73 3.038 7.73 7.25v.07c0 4.8-3.691 7.493-8.949 7.493-3.69 0-7.416-1.278-10.341-3.868L5.168 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.835-2.038-4.909-3.073-4.91-1.243-8.078-2.59-8.078-7.39v-.07c0-4.385 3.551-7.286 8.53-7.286zm21.412 0c3.552 0 6.58 1.106 9.053 3.074l-2.786 4.006c-2.158-1.485-4.282-2.383-6.336-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.044 2.106 5.258 3.177 4.944 1.277 7.729 3.038 7.729 7.25v.07c0 4.8-3.69 7.493-8.948 7.493-3.69 0-7.417-1.278-10.341-3.868L26.58 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.836-2.038-4.91-3.073-4.909-1.243-8.077-2.59-8.077-7.39v-.07c0-4.385 3.55-7.286 8.53-7.286zm42.32 18.76c1.67 0 3.021 1.34 3.021 2.995s-1.352 2.996-3.02 2.996c-1.67 0-3.021-1.34-3.021-2.996 0-1.654 1.352-2.996 3.02-2.996zm62.08-18.414l6.406 10.222 6.407-10.222h5.78v24.172h-5.327v-15.78l-6.86 10.323h-.138l-6.79-10.22v15.677h-5.258V1.914h5.78zm-21.273 4.49c-4.318 0-7.312 3.383-7.312 7.527V14c0 4.143 3.064 7.596 7.381 7.596 4.318 0 7.312-3.383 7.312-7.527v-.07c0-4.143-3.064-7.596-7.38-7.596z' transform='translate(-57 -102) translate(57 102)'/%3e %3c/g%3e %3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-flex;
    width: 158px;
    height: 28px;
}
.ssg_gnb_main .ssg_gnb_logo.v2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_trigger {
    -webkit-transition-duration: 600ms, 300ms;
    transition-duration: 600ms, 300ms;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    -webkit-transition-delay: 0s, 100ms;
    transition-delay: 0s, 100ms;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_container {
    z-index: 200;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_list {
    -webkit-transform-origin: 172px 14px;
    transform-origin: 172px 14px;
    -webkit-transition: 150ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 200ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1) 150ms;
    transition: 150ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 200ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1) 150ms;
    transition: 200ms transform cubic-bezier(0.34, 1.56, 0.64, 1) 150ms, 150ms opacity cubic-bezier(0.4, 0.8, 0.74, 1);
    transition: 200ms transform cubic-bezier(0.34, 1.56, 0.64, 1) 150ms, 150ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 200ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1) 150ms;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_item {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 400ms, 350ms;
    transition-duration: 400ms, 350ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1);
    transition-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_item:nth-child(1) {
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_item:nth-child(2) {
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_item:nth-child(3) {
    -webkit-transition-delay: 350ms;
    transition-delay: 350ms;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_container.is-expanded .ssg_mall_menu_item:nth-child(4) {
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_layer_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_trigger {
    display: block;
    position: relative;
    z-index: 20;
    -webkit-transition: 350ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 350ms -webkit-transform cubic-bezier(0.4, 0.8, 0.74, 1);
    transition: 350ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 350ms -webkit-transform cubic-bezier(0.4, 0.8, 0.74, 1);
    transition: 350ms transform cubic-bezier(0.4, 0.8, 0.74, 1), 350ms opacity cubic-bezier(0.4, 0.8, 0.74, 1);
    transition: 350ms transform cubic-bezier(0.4, 0.8, 0.74, 1), 350ms opacity cubic-bezier(0.4, 0.8, 0.74, 1), 350ms -webkit-transform cubic-bezier(0.4, 0.8, 0.74, 1);
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_trigger .icon_ssg_circle_chevron_down {
    display: block;
    line-height: 0;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_trigger .icon_ssg_circle_chevron_down::after {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3999 12C2.3999 17.28 6.7199 21.6 11.9999 21.6C17.2799 21.6 21.5999 17.28 21.5999 12C21.5999 6.72002 17.2799 2.40002 11.9999 2.40002C6.7199 2.40002 2.3999 6.72002 2.3999 12ZM3.59994 12C3.59994 7.32003 7.31994 3.60003 11.9999 3.60003C16.6799 3.60003 20.3999 7.32003 20.3999 12C20.3999 16.68 16.6799 20.4 11.9999 20.4C7.31994 20.4 3.59994 16.68 3.59994 12Z' fill='%23cfcfcf'/%3E%3Cpath d='M11.9998 15L7.31982 10.32L8.27982 9.47998L11.9998 13.2L15.7198 9.47998L16.6798 10.32L11.9998 15Z' fill='black'/%3E%3C/svg%3E") no-repeat center/100% auto;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_container {
    position: absolute;
    top: -21px;
    left: 50%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_list {
    width: 196px;
    min-height: 260px;
    padding: 12px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item > a {
    width: 180px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #222;
    line-height: 1.2222222222;
    overflow: hidden;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item > a:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
    -webkit-transition: 150ms opacity cubic-bezier(0.34, 1.56, 0.64, 1), 230ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: 150ms opacity cubic-bezier(0.34, 1.56, 0.64, 1), 230ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: 230ms transform cubic-bezier(0.34, 1.56, 0.64, 1), 150ms opacity cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: 230ms transform cubic-bezier(0.34, 1.56, 0.64, 1), 150ms opacity cubic-bezier(0.34, 1.56, 0.64, 1), 230ms -webkit-transform cubic-bezier(0.34, 1.56, 0.64, 1);
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item > a:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item + .ssg_mall_menu_item {
    margin-top: 12px;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item_ssg > a:before {
    content: "";
    width: 107px;
    height: 24px;
    display: block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='158' height='28' viewBox='0 0 158 28'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M57.668 1.5c4.387 0 7.033 1.174 9.575 3.315l-3.377 4.04c-1.88-1.554-3.552-2.452-6.373-2.452-3.9 0-6.998 3.419-6.998 7.528V14c0 4.42 3.064 7.666 7.381 7.666 1.95 0 3.692-.484 5.05-1.45v-3.454h-5.397V12.17h10.584v10.497c-2.507 2.107-5.954 3.833-10.41 3.833-7.59 0-12.813-5.283-12.813-12.431v-.07C44.89 7.13 50.286 1.5 57.668 1.5zm34.736 0c4.597 0 7.347 1.519 9.61 3.73L98.602 9.13c-1.88-1.692-3.795-2.728-6.233-2.728-4.108 0-7.068 3.384-7.068 7.528V14c0 4.143 2.89 7.596 7.068 7.596 2.786 0 4.492-1.104 6.407-2.83l3.412 3.418c-2.507 2.659-5.292 4.316-9.993 4.316-7.173 0-12.5-5.49-12.5-12.431v-.07c0-6.87 5.223-12.499 12.71-12.499zm23.71 0c7.521 0 12.918 5.56 12.918 12.43V14c0 6.872-5.466 12.5-12.987 12.5-7.52 0-12.918-5.56-12.918-12.431v-.07c0-6.87 5.467-12.499 12.987-12.499zm-104.608.068c3.551 0 6.58 1.106 9.052 3.074l-2.785 4.006c-2.159-1.485-4.283-2.383-6.337-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.045 2.106 5.258 3.177 4.944 1.277 7.73 3.038 7.73 7.25v.07c0 4.8-3.691 7.493-8.949 7.493-3.69 0-7.416-1.278-10.341-3.868L5.168 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.835-2.038-4.909-3.073-4.91-1.243-8.078-2.59-8.078-7.39v-.07c0-4.385 3.551-7.286 8.53-7.286zm21.412 0c3.552 0 6.58 1.106 9.053 3.074l-2.786 4.006c-2.158-1.485-4.282-2.383-6.336-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.044 2.106 5.258 3.177 4.944 1.277 7.729 3.038 7.729 7.25v.07c0 4.8-3.69 7.493-8.948 7.493-3.69 0-7.417-1.278-10.341-3.868L26.58 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.836-2.038-4.91-3.073-4.909-1.243-8.077-2.59-8.077-7.39v-.07c0-4.385 3.55-7.286 8.53-7.286zm42.32 18.76c1.67 0 3.021 1.34 3.021 2.995s-1.352 2.996-3.02 2.996c-1.67 0-3.021-1.34-3.021-2.996 0-1.654 1.352-2.996 3.02-2.996zm62.08-18.414l6.406 10.222 6.407-10.222h5.78v24.172h-5.327v-15.78l-6.86 10.323h-.138l-6.79-10.22v15.677h-5.258V1.914h5.78zm-21.273 4.49c-4.318 0-7.312 3.383-7.312 7.527V14c0 4.143 3.064 7.596 7.381 7.596 4.318 0 7.312-3.383 7.312-7.527v-.07c0-4.143-3.064-7.596-7.38-7.596z' transform='translate(-57 -102) translate(57 102)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/100% auto;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item_ssg.is-active > a {
    background: -webkit-gradient(linear, right top, left top, from(#be3ffa), color-stop(40.65%, #f43479), color-stop(58.41%, #f43479), to(#ff5452));
    background: linear-gradient(270deg, #be3ffa 0%, #f43479 40.65%, #f43479 58.41%, #ff5452 100%);
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item_ssg.is-active > a:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='158' height='28' viewBox='0 0 158 28'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23fff' d='M57.668 1.5c4.387 0 7.033 1.174 9.575 3.315l-3.377 4.04c-1.88-1.554-3.552-2.452-6.373-2.452-3.9 0-6.998 3.419-6.998 7.528V14c0 4.42 3.064 7.666 7.381 7.666 1.95 0 3.692-.484 5.05-1.45v-3.454h-5.397V12.17h10.584v10.497c-2.507 2.107-5.954 3.833-10.41 3.833-7.59 0-12.813-5.283-12.813-12.431v-.07C44.89 7.13 50.286 1.5 57.668 1.5zm34.736 0c4.597 0 7.347 1.519 9.61 3.73L98.602 9.13c-1.88-1.692-3.795-2.728-6.233-2.728-4.108 0-7.068 3.384-7.068 7.528V14c0 4.143 2.89 7.596 7.068 7.596 2.786 0 4.492-1.104 6.407-2.83l3.412 3.418c-2.507 2.659-5.292 4.316-9.993 4.316-7.173 0-12.5-5.49-12.5-12.431v-.07c0-6.87 5.223-12.499 12.71-12.499zm23.71 0c7.521 0 12.918 5.56 12.918 12.43V14c0 6.872-5.466 12.5-12.987 12.5-7.52 0-12.918-5.56-12.918-12.431v-.07c0-6.87 5.467-12.499 12.987-12.499zm-104.608.068c3.551 0 6.58 1.106 9.052 3.074l-2.785 4.006c-2.159-1.485-4.283-2.383-6.337-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.045 2.106 5.258 3.177 4.944 1.277 7.73 3.038 7.73 7.25v.07c0 4.8-3.691 7.493-8.949 7.493-3.69 0-7.416-1.278-10.341-3.868L5.168 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.835-2.038-4.909-3.073-4.91-1.243-8.078-2.59-8.078-7.39v-.07c0-4.385 3.551-7.286 8.53-7.286zm21.412 0c3.552 0 6.58 1.106 9.053 3.074l-2.786 4.006c-2.158-1.485-4.282-2.383-6.336-2.383-2.055 0-3.134.932-3.134 2.106v.07c0 1.588 1.044 2.106 5.258 3.177 4.944 1.277 7.729 3.038 7.729 7.25v.07c0 4.8-3.69 7.493-8.948 7.493-3.69 0-7.417-1.278-10.341-3.868L26.58 18.8c2.194 1.796 4.492 2.936 7.277 2.936 2.194 0 3.517-.863 3.517-2.28v-.068c0-1.347-.836-2.038-4.91-3.073-4.909-1.243-8.077-2.59-8.077-7.39v-.07c0-4.385 3.55-7.286 8.53-7.286zm42.32 18.76c1.67 0 3.021 1.34 3.021 2.995s-1.352 2.996-3.02 2.996c-1.67 0-3.021-1.34-3.021-2.996 0-1.654 1.352-2.996 3.02-2.996zm62.08-18.414l6.406 10.222 6.407-10.222h5.78v24.172h-5.327v-15.78l-6.86 10.323h-.138l-6.79-10.22v15.677h-5.258V1.914h5.78zm-21.273 4.49c-4.318 0-7.312 3.383-7.312 7.527V14c0 4.143 3.064 7.596 7.381 7.596 4.318 0 7.312-3.383 7.312-7.527v-.07c0-4.143-3.064-7.596-7.38-7.596z' transform='translate(-57 -102) translate(57 102)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/100% auto;
}
.ssg_gnb_main .ssg_gnb_logo.v2 .ssg_mall_menu_item_emart > a:before {
    content: "";
    width: 106px;
    height: 26px;
    display: block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='80' height='40' viewBox='0 0 80 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78.9373 27.0726C78.4373 27.497 77.9276 26.8385 77.9276 26.8385C77.4032 26.2921 77.5739 25.4751 77.6666 25.2897C77.7617 25.1043 79.8032 22.4629 79.8008 15.0043C79.8008 10.2385 77.9837 10.5336 77.9837 10.5336C76.4007 10.58 75.752 12.1092 75.1129 15.3458C74.6178 17.8653 74.552 22.0921 74.952 24.7336C75.669 29.458 77.9251 29.4678 77.9251 29.4678C79.6861 29.497 79.6276 27.8312 79.6276 27.8312C79.669 26.5921 78.9349 27.0726 78.9349 27.0726H78.9373ZM76.852 23.0995C76.5715 23.3995 76.4105 20.4165 76.6788 17.5409C76.9446 14.7019 77.8251 13.0848 77.8251 13.0848C78.0105 12.8775 78.4739 16.9848 78.1056 19.219C77.7373 21.4531 77.1715 22.7531 76.8495 23.097L76.852 23.0995Z' fill='%23FFB600'/%3E%3Cpath d='M73.0529 27.0726C72.5529 27.497 72.0431 26.8385 72.0431 26.8385C71.5187 26.2921 71.6895 25.4751 71.7846 25.2897C71.8797 25.1043 73.9212 22.4629 73.9187 15.0043C73.9187 10.2385 72.0992 10.5336 72.0992 10.5336C70.5163 10.58 69.8675 12.1092 69.2309 15.3458C68.7334 17.8653 68.6699 22.0921 69.0699 24.7336C69.7846 29.458 72.0407 29.4678 72.0407 29.4678C73.8016 29.497 73.7431 27.8312 73.7431 27.8312C73.7846 26.5921 73.0504 27.0726 73.0504 27.0726H73.0529ZM70.9675 23.0995C70.687 23.3995 70.5236 20.4165 70.7943 17.5409C71.0626 14.7019 71.9407 13.0848 71.9407 13.0848C72.1236 12.8775 72.5895 16.9848 72.2212 19.219C71.8529 21.4531 71.287 22.7531 70.9651 23.097L70.9675 23.0995Z' fill='%23FFB600'/%3E%3Cpath d='M68.1182 26.7384C67.5694 26.8262 67.4547 26.6213 67.4547 26.6213C67.023 26.3286 66.8499 25.0432 67.023 24.1676C67.1962 23.292 67.3108 22.0628 67.3108 22.0628C67.284 17.9725 65.3206 16.7457 64.2816 16.6579C63.2426 16.5701 62.2621 17.5554 62.2621 17.5554C59.7816 19.7676 59.5206 23.9603 59.5206 23.9603C59.0865 29.3652 62.3182 29.3067 62.3182 29.3067C64.1084 29.4237 65.1157 27.553 65.2035 27.5823C65.2889 27.6115 65.6645 28.2262 65.6645 28.2262C66.1352 28.853 66.4572 28.9286 66.7621 28.8969C68.5938 28.7067 68.1182 26.7335 68.1182 26.7335V26.7384ZM65.0621 23.0847C64.845 23.375 64.906 24.0652 64.906 24.0652C64.845 24.3676 64.7133 24.8701 64.7133 24.8701C64.5694 25.2798 64.3377 25.6896 64.3377 25.6896C63.5011 27.4701 62.3621 27.0042 62.3621 27.0042C60.9328 26.6237 61.3084 23.4359 61.3084 23.4359C61.845 18.7798 63.4157 18.8823 63.4157 18.8823C64.2694 18.9652 64.645 20.014 64.7352 20.2042C65.2718 21.3311 65.1474 22.7384 65.1474 22.7384C65.1377 22.9237 65.0621 23.0847 65.0621 23.0847Z' fill='%23FFB600'/%3E%3Cpath d='M46.9103 19.7239C46.9103 19.7239 46.7933 18.4288 47.4298 17.9019C47.4298 17.9019 47.9494 17.1727 48.7859 17.58C48.7859 17.58 49.3347 17.9019 49.1616 19.2166L48.6128 23.1019C48.6128 23.1019 48.6128 23.3946 48.9298 22.7507C49.2469 22.1092 50.9055 19.7214 51.6128 19.5068C51.6128 19.5068 52.4201 19.0409 52.9981 20.3092C52.9981 20.3092 53.1396 20.6995 53.2006 21.3141C53.2616 21.9263 53.3152 22.9531 53.2591 23.9775C53.2591 23.9775 53.2298 24.4751 53.8933 23.0727C54.5567 21.6702 55.7738 19.2605 56.8933 19.4483C58.0152 19.6385 57.9616 20.558 57.9908 21.2312C58.0177 21.9019 57.8445 26.1678 58.1323 26.6361C58.1323 26.6361 58.3347 27.3385 59.0567 27.2214C59.0567 27.2214 59.6152 29.0629 57.7225 29.1385C57.5201 29.1458 56.3274 29.0824 56.2884 27.3678C56.2884 27.3678 56.4372 23.0361 56.0567 22.78C56.0567 22.78 55.742 22.2044 54.5274 25.5556C53.3079 28.9214 53.1128 28.9092 52.0737 28.8287C51.2762 28.7678 51.2664 27.6019 51.2957 27.0751C51.325 26.5483 51.303 22.5751 51.2908 22.358C51.2859 22.2556 51.1469 21.5458 49.7933 24.6263C49.4494 25.4117 49.2494 26.3458 49.0177 27.6312C49.0177 27.6312 48.7103 29.119 47.403 28.9166C47.403 28.9166 46.6518 28.8288 46.5957 27.8068C46.5957 27.8068 46.942 23.8629 46.942 22.5483C46.942 21.2336 46.9128 19.7239 46.9128 19.7239H46.9103Z' fill='%23FFB600'/%3E%3Cpath d='M42.6618 28.7677C42.5252 28.8116 41.7861 29.0165 40.9983 29.0165C39.2422 29.0165 38.3081 28.2555 38.3081 26.636V16.8945H39.291C40.3179 16.8945 40.652 17.4994 40.652 18.3409V19.0799H42.6618V19.6531C42.6618 20.4677 42.1057 20.9287 41.2764 20.9287H40.652V26.2165C40.652 26.7945 40.8447 27.2067 41.6569 27.2067C42.1374 27.2067 42.5837 27.0677 42.6618 27.0457C42.6618 27.2433 42.6618 28.7677 42.6618 28.7677ZM36.5691 20.6604C37.0666 20.6604 37.5813 20.8116 37.6422 20.8287V19.0799C37.5593 19.0628 36.5959 18.8531 35.6837 18.8531C34.1349 18.8531 33.0422 19.4994 33.0422 21.1994V28.7799H35.3861V21.6677C35.3861 21.0409 35.7813 20.6604 36.5691 20.6604ZM23.113 21.6018C23.113 20.6287 22.5691 18.8628 19.4374 18.8628C17.83 18.8628 17.1861 19.2921 16.9569 19.4506C16.7179 19.314 15.9715 18.8628 14.4764 18.8628C11.5813 18.8628 10.8008 20.3238 10.8008 21.5336V28.7823H13.1642V21.6897C13.1642 21.2799 13.391 20.6579 14.4764 20.6579C15.3203 20.6579 15.7764 21.0897 15.7764 21.6897V28.7823H18.1398V21.6897C18.1398 21.0921 18.5886 20.6579 19.4398 20.6579C20.3666 20.6579 20.752 21.1384 20.752 21.6897V27.1555C20.752 28.2262 21.3691 28.8311 22.3447 28.8311H23.1154V21.6018H23.113ZM28.1081 18.8555C31.0642 18.8555 32.1349 20.2726 32.1349 22.1628V25.2311C32.1349 27.3872 30.7691 29.014 27.9398 29.014C25.1105 29.014 23.7569 27.7262 23.7569 25.9921C23.7569 24.6092 24.6861 23.697 26.7032 23.136C26.9959 23.0555 27.9788 22.7579 28.4227 22.6262C29.4398 22.3238 29.7691 22.0897 29.7691 21.6433C29.7691 21.1726 29.2032 20.6604 28.052 20.6604C26.6764 20.6604 26.2447 21.5214 26.2349 22.1433H24.0886C24.0886 20.2238 25.2179 18.8579 28.1081 18.8579M27.7544 27.2116C28.6618 27.2116 29.774 26.6311 29.774 25.1506V23.9872C29.774 23.9872 27.9861 24.5067 27.4837 24.6604C26.591 24.936 26.1618 25.397 26.1618 25.9994C26.1618 26.6018 26.652 27.2092 27.7544 27.2092' fill='%23484C56'/%3E%3Cpath d='M4.88068 29.0117C1.6197 29.0117 0.195312 26.9873 0.195312 24.4288V21.6653C0.195312 18.1092 2.53678 16.7239 5.28312 16.7239C8.60019 16.7239 10.049 18.5531 10.049 20.38C10.049 23.0483 7.35385 23.7019 6.1636 24.0507C5.82214 24.1507 4.55873 24.5312 4.27336 24.6166C3.1636 24.9434 2.84409 25.3068 2.84409 25.7214C2.84409 26.4288 3.45385 27.0385 4.88068 27.0385C6.12214 27.0385 7.02946 26.6117 7.18068 25.2995H9.7758C9.50751 27.3775 8.2758 29.0141 4.88068 29.0141M5.17336 18.7044C3.7319 18.7044 2.788 19.68 2.788 21.3458V23.0946C2.788 23.0946 4.73921 22.519 5.55385 22.2678C6.23678 22.058 7.45873 21.619 7.45873 20.5288C7.45873 19.5775 6.69775 18.7044 5.1758 18.7044' fill='%23FFB600'/%3E%3C/svg%3E") no-repeat center/100% auto;
}
.ssg_gnb_main .ssg_gnb_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
}

.ssg_gnb_layer {
    display: none;
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 310;
    width: 162px;
    height: 180px;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #ffffff;
}
.ssg_gnb_layer.is_open {
    display: block;
}
.ssg_gnb_layer .ssg_mall_close {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 15px;
    height: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    background-color: #fff;
}
.ssg_gnb_layer .ssg_mall_close::after {
    content: "";
    display: block;
    border-bottom: 10px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin: -1px 0px 0 -1px;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 12px 0;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_list > li {
    padding-bottom: 21px;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.on .mall_link::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 3px;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item .mall_link {
    display: inline-block;
    vertical-align: top;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item .mall_link::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.ssg .mall_link::before {
    width: 85px;
    height: 14px;
    background-image: url(../img/common/mall_layer/ssg.svg);
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.sm .mall_link::before {
    width: 132px;
    height: 11px;
    background-image: url(../img/common/mall_layer/sm.svg);
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.sm .mall_link::after {
    background-color: #f12e24;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.sd .mall_link::before {
    width: 138px;
    height: 11px;
    background-image: url(../img/common/mall_layer/sd.svg);
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.sd .mall_link::after {
    background-color: #a59357;
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.em .mall_link::before {
    width: 80px;
    height: 19px;
    background-image: url(../img/common/mall_layer/em.svg);
}
.ssg_gnb_layer .ssg_mall_menu .mall_menu_item.em .mall_link::after {
    background-color: #ffd040;
}


.gnb_searching_box {
    overflow: hidden;
    position: relative;
    z-index: 301;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px 0 0 1px;
    border-radius: 6px;
    background-color: #fff;
}
.gnb_searching_box form,
.gnb_searching_box fieldset {
    height: 100%;
}
.gnb_searching_box .inp_txt {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 12px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: -0.3px;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}
.gnb_searching_box .inp_txt::-ms-clear {
    display: none;
}
.gnb_searching_box .inp_txt:focus {
    outline: none;
}
.gnb_searching_box .gnb_searching_inp {
    height: 100%;
}
.gnb_searching_box .gnb_searching_inp .inp_txt::-webkit-input-placeholder {
    color: #777;
    font-size: 13px;
}
.gnb_searching_box .gnb_searching_inp .inp_txt::-moz-placeholder {
    color: #777;
    font-size: 13px;
}
.gnb_searching_box .gnb_searching_inp .inp_txt:-ms-input-placeholder {
    color: #777;
    font-size: 13px;
}
.gnb_searching_box .gnb_searching_inp .inp_txt::-ms-input-placeholder {
    color: #777;
    font-size: 13px;
}
.gnb_searching_box .gnb_searching_inp .inp_txt::placeholder {
    color: #777;
    font-size: 13px;
}
.gnb_searching_box .gnb_search_btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    width: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}
.gnb_searching_box .gnb_search_btn .icon_search::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60004 10.8C3.60004 14.76 6.84004 18 10.8 18C14.76 18 18 14.76 18 10.8C18 6.84001 14.76 3.60001 10.8 3.60001C6.84004 3.60001 3.60004 6.84001 3.60004 10.8ZM4.80007 10.8C4.80007 7.44001 7.44007 4.80001 10.8001 4.80001C14.1601 4.80001 16.8001 7.44001 16.8001 10.8C16.8001 14.16 14.1601 16.8 10.8001 16.8C7.44007 16.8 4.80007 14.16 4.80007 10.8Z' fill='rgb%280%2C0%2C0%29'%3e%3c/path%3e %3cpath d='M15.0187 15.8562L15.8672 15.0077L21.3826 20.5231L20.5341 21.3716L15.0187 15.8562Z' fill='rgb%280%2C0%2C0%29'%3e%3c/path%3e %3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20px;
    height: 20px;
}

.gnb_search_word {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.gnb_search_word .key_word_renew {
    overflow: hidden;
    padding-top: 39px;
    border: 1px solid transparent;
    border-radius: 6px;
}
@media \0 screen {
    .gnb_search_word .key_word_renew {
        border: 1px solid #000;
    }
}
.gnb_search_word .key_word_renew:before {
    position: absolute;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px;
    border-radius: 6px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='fh8cypk2ya' x1='5.138%25' x2='99.194%25' y1='50.219%25' y2='49.719%25'%3E%3Cstop offset='0%25' stop-color='%23FECC1F'/%3E%3Cstop offset='33.288%25' stop-color='%23FE3A6B'/%3E%3Cstop offset='55.717%25' stop-color='%23A33FFA'/%3E%3Cstop offset='77.639%25' stop-color='%233798FB'/%3E%3Cstop offset='100%25' stop-color='%2326D866'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23fh8cypk2ya)' x='0' y='0' width='1' height='1'/%3E%3C/svg%3E");
    background: -webkit-gradient(linear, right top, left top, from(#be3ffa), color-stop(40.65%, #f43479), color-stop(58.41%, #f43479), to(#ff5452));
    background: linear-gradient(270deg, #be3ffa 0%, #f43479 40.65%, #f43479 58.41%, #ff5452 100%);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    content: "";
}
.gnb_search_word .auto_word {
    padding-top: 39px;
    border: 1px solid transparent;
    border-radius: 6px;
}
@media \0 screen {
    .gnb_search_word .auto_word {
        border: 1px solid #000;
    }
}
.gnb_search_word .auto_word:before {
    position: absolute;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px;
    border-radius: 6px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='fh8cypk2ya' x1='5.138%25' x2='99.194%25' y1='50.219%25' y2='49.719%25'%3E%3Cstop offset='0%25' stop-color='%23FECC1F'/%3E%3Cstop offset='33.288%25' stop-color='%23FE3A6B'/%3E%3Cstop offset='55.717%25' stop-color='%23A33FFA'/%3E%3Cstop offset='77.639%25' stop-color='%233798FB'/%3E%3Cstop offset='100%25' stop-color='%2326D866'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23fh8cypk2ya)' x='0' y='0' width='1' height='1'/%3E%3C/svg%3E");
    background: -webkit-gradient(linear, right top, left top, from(#be3ffa), color-stop(40.65%, #f43479), color-stop(58.41%, #f43479), to(#ff5452));
    background: linear-gradient(270deg, #be3ffa 0%, #f43479 40.65%, #f43479 58.41%, #ff5452 100%);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    content: "";
}
